.app {

    background-color: $primary_accent;

    h2{
        text-align: left;
    }

    .container_small{
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        
        img {
            width: 10em;
            height: auto;
           padding: 5px 10px;
            cursor: pointer;
        }   
        
    }

   

}