section.app {

    background-color: $primary_accent;

    h2{
        text-align: left;
    }

    .container_large{
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        
        img {
            width: 10em;
            height: auto;
            padding-right: 20px;
            cursor: pointer;
        }
        
    }

}