section.app {

    background-color: $secondary_color;
    background-image: linear-gradient(to bottom right, $secondary_color, $primary_color);

    h2{
        text-align: left;
    }

    .container_large{
        display: flex;
        justify-content: space-between;

        .box-app-left{
            
            height: 40px;
        }

        .box-app-right{
         width: 150px;

            img{
                cursor: pointer;
                padding-bottom: 10px;
            }

        }


        
        
        
    }

}