.card-product {
    
    width: calc( 100% / 3 );
    padding: 20px;
    margin-top: 3em;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(0.99);
    }
    
    .container-image {
        height: 180px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}