.restaurant-show {

    &-jumbo {
        background-image: -webkit-linear-gradient(-80deg, $primary_color 0%, $primary_color 60%, $primary_accent 60%, $primary_accent 100%);
        height: 25em;
    }

    &-title {
        color: $white;
        font-weight: 700;
        font-size: 3em;
    }

    &-address {
        color: $white;
        font-weight: 300;
        font-size: 1em;
    }
}

.product-card {
    
    width: calc( 100% / 3 );
    padding: 20px;
    margin-top: 3em;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(0.99);
    }
    
    .container-image {
        height: 180px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}