section.category {
    background-color: $white;

    .container_medium {
        position: relative;

        .chevron-left i {
            color: $primary-color;
            position: absolute;
            left: -2%;
            top: 47%;
            cursor: pointer;
            transition: all 0.2s;

            &:active {
                transform: scale(0.90);
            }
        }

        .chevron-right i {
            color: $primary-color;
            position: absolute;
            right: -2%;
            cursor: pointer;
            top: 47%;
            transition: all 0.2s;

            &:active {
                transform: scale(0.90);
            }
        }

        .container-box {
            overflow: auto;
            padding: 3em 0;

            &::-webkit-scrollbar {
                display: none;               
            }

            .category-card {
                display: flex;
                min-width: 15em;
                height: 7em;
                border-radius: 1em;
                margin-right: 2em;
                position: relative;
                transition: all 0.2s;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);

                img {
                    border-radius: 1em;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 0px 20px 1px rgba($color: #000000, $alpha: 0.1);
                }

                &:active {
                    transform: scale(0.95);              
                }

                .category-name {
                    position: absolute;
                    bottom: 10%;
                    left: 10%;
                    font-size: 1.5em;
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
    }
}