section.category {

    .container_medium {
        padding: 50px 0;

        .container-box {
            display: flex;
            flex-wrap: nowrap;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
                
            }

            .category-card {
                display: flex;
                min-width: 15em;
                height: 7em;
                border-radius: 1em;
                margin-right: 2em;
                background-color: $primary_color;
                overflow: hidden;
                position: relative;

                &:hover{
                    cursor: pointer;

                }

                .category-name {
                    position: absolute;
                    bottom: 10%;
                    left: 10%;
                    color: $secondary_color;
                }
            }
        }
    }
}