section.category {

    .container_medium {
        padding: 50px 0;

        .container-box {
            overflow-x: auto;

            .category-card {

                width: 25em;
                height: 7em;
                border-radius: 1em;
                margin-right: 3em;
                background-color: $primary_color;
        
        
                &:hover{
        
                }
        
            }
        }
    }
}