main{
    
    .jumbotron_main{
        background-color: $secondary_color;
        height: 350px;

        .container_large{

            .advertising{
                color: $primary_color;
            }
        }
        
    }
}