main{
    
    .jumbotron_main{
        background-color: $secondary_color;
        background-image: linear-gradient(to bottom right, $secondary_color, $primary_color);
        height: 350px;

        .container_large{
            position: relative;

            .advertising{
                position: absolute;
                top: 120px;
                left: 0;
                color: $white_color;
                font-weight: bolder;   
            }

            .duck-box{
                position: absolute;
                top: 30px;
                right: 0;
            
            }
        }
        
    }
}