section.research {

    .card-restaurant {
        width: 30em;
        padding: 20px;
        margin-top: 3em;
        transition: all 0.2s;

        &:hover {
            cursor: pointer;
        }
    
        &:active {
            transform: scale(0.99);
        }
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 0.5em;
    }

    .research-details {
        padding: 20px;
    }
}