html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

img {
    height: auto;
    width: 100%;
}

.container_large {
    width: 80%;
    margin: auto;
    height: 100%;
}

.container_medium {
    width: 70%;
    height: 100%;
    margin: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;

}

.padding-section {
    padding: 20px 0;
}

h1 {
    font-size: 50px !important;
    font-weight: bold !important;
}

h2 {
    text-align: center;
    color: $primary_color;
    font-size: 40px !important;
    font-weight: bold !important;
}

.menu-footer {
    text-decoration: none;

    li {

        text-align: left;

        &:first-child {
            text-transform: uppercase;
        }

        a {
            list-style-type: none;
            color: $white_color;
        }
    }
}

//da rivedere
.login-padding{
    padding: 20px;
}