footer{
    background-color: $primary_color;
    color: $white_color;
    position: relative;

    .container-box{
        justify-content: space-between;
        
        a{
            text-decoration: none;
            
            &:hover{
                color: $secondary_color;
            }
        }
    }

    .copyright{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}