footer {
    background-color: $primary_color;
    color: $white;
    
    
    .container-box{
        display: flex;
        justify-content: space-between;
        
        .footer-menu {

            .footer-title {
                font-weight: 700;
                font-size: 1.2em;
            }

            a {
                color: $white;
                text-decoration: none;
                font-weight: 300;
                font-size: 0.9em;
                
                &:hover {
                    color: $primary_accent;
                }
            }
        }   
    }

    .copyright{
        text-align: center;
        font-weight: 300;
        padding-bottom: 2em;       
    }
}
