header {

    background-color: $primary_color;
    color: $white_color;

    .container_large {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;

        img {
            height: 30px;
            width: auto;
        }


        .nav-right {

            .login_register ul {
                display: flex;
                margin-bottom: 0;
                align-items: center;

                a{
                    color: $white_color;
                }

                /* Overwrite */
                .dropdown-item{
                    color: $primary_color;
                }
                
            }

            .btn-nav {
                color: $white_color;
                
                padding: 7px 10px;
                margin-left: 20px;
                border: 1px solid $white_color;
                border-radius: 5px;
                text-decoration: none;

                &:hover {
                    background-color: $secondary_color;
                }
            }

        }
    }
}