// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary_color: #003049;
$secondary_color: #eae2b7;
$white_color: #fcbf49;
$duck_primary_color: #f77f00;
$duck_secondary_color: #d62828;