// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary_color: #001632;
$secondary_color: #00db71;
$white_color: #FFF8F0;
$duck_primary_color: #F4D06F;
$duck_secondary_color: #FF8811;