// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary_color: #2EC4B6;
$secondary_color: #FF9F1C;
$white: #fff;
$black: #000;
$primary_accent: #CBF3F0;
$secondary_accent: #FFBF69;